.splide__arrow svg {
  fill: #393e46 !important;
}
.splide__arrow {
  z-index: 0 !important;
}
.splide__slide {
  display: flex;
  align-items: start;
  justify-content: start;
  background-color: #ffffff;
  border-radius: 10px !important;
  margin: 0px 10px !important;
  overflow: hidden;
}
.splide__pagination__page {
  background: #aaaeb4 !important;
  border-radius: 50% !important;
  width: 10px !important;
  height: 10px !important;
}
.splide__pagination__page.is-active {
  background: #393e46 !important;
  width: 15px !important;
  height: 15px !important;
}
.splide {
  padding-top: 20px !important;
}
